@{
    ViewBag.Title = "Upload";
}
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="~/Content/SaveCss.css" media="screen" />

<body>
    <label class="title">Выберите фотографию</label>

    @using (Html.BeginForm("Upload", "Save", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="token" value="@ViewBag.Token" /><br>

        <input class="fileUploadButton" type="file" name="upload" /><br>

        <input class="submitButton" type="submit" value="Загрузить" />
    }
</body>