
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <input type="file" accept="image/*;capture=camera">
    </div>
    <div>
        <device type="media" onchange="update(this.data)"></device>
        <video autoplay></video>
        <script>
            function update(stream) {
                document.querySelector('video').src = stream.url;
            }
        </script>
    </div>
    <div>
        <video autoplay></video>

        <script>
            var onFailSoHard = function (e) {
                console.log('Reeeejected!', e);
            };

            // Not showing vendor prefixes.
            navigator.getUserMedia('video, audio', function (localMediaStream) {
                var video = document.querySelector('video');
                video.src = window.URL.createObjectURL(localMediaStream);

                // Note: onloadedmetadata doesn't fire in Chrome when using it with getUserMedia.
                // See crbug.com/110938.
                video.onloadedmetadata = function (e) {
                    // Ready to go. Do some stuff.
                };
            }, onFailSoHard);
        </script>
    </div>
</body>
</html>
